/* Fuente aplicada a todo el <body> */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Fondo principal del <div> padre */
.red-block {
  background-color: rgb(231, 50, 10);
}

h1 {
  color: white;
  font-size: x-large;
  text-align: center;
  padding: 2% 0% 0% 0%;
  border-bottom: 3px white solid;
  margin: 0% 40% 2% 40%;
}

/* Estilo para el bloque secundario blanco */
.white-block {
  background-color: white;
  margin: 0% 1% 0% 1%;
  padding: 1%;
}

/* Estilo para los bloques grises que están dentro del bloque blanco */
.gray-block {
  background-color: rgb(233, 230, 230);
  margin: 0% 0% 1% 0%;
  padding-bottom: 1%;
}

img,
h2,
p,
a {
  padding: 1% 1% 1% 1%;
}

h2 {
  color: rgb(231, 50, 10);
  font-weight: bold;
  font-size: x-large;
}

p {
  font-weight: bold;
  font-size: small;
}

footer {
  background-color: rgb(231, 50, 10);
  padding: 1% 0% 1% 0%;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: small;
}
